/* Body */
html {
  height: 100%;
}
body {
  height: 100%;
}

/*----------  List  ----------*/

ul, ol {
  margin-top: 0;
  margin: 0 0 1.8em 0;
  padding-left: em(30px);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

/*----------  Media  ----------*/

figure {
  margin-bottom: ms(0);
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}