<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <!-- <a href="{{ site.baseurl }}/" class="site-avatar">
        <img src="{{ site.avatar }}" />
      </a> -->

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
        <p class="site-description">
          <span class="site-description__typing-heading">Web Developer</span>
          <span class="site-description__typing-heading">Web Designer</span>
          <span class="site-description__typing-heading">Explorer</span>
        </p>
      </div>

      <nav class="main-nav">
        <ul class="menu">
           {% for item in site.data.navigation.items %}
              <li class="{% if item.url == page.url %}active{% endif %}">
                <a href="{{ item.url }}" alt="{{ item.title }}">
                  {{ item.title }}
                </a>
              </li>
           {% endfor %}
        </ul>
      </nav>
    </header>
  </div>
</div>