{% if site.footer-links.email %}
  <a href="mailto:{{ site.footer-links.email }}">
    <img class="svg-icon email" src="../images/socials/email.svg" alt="Email">
  </a>
{% endif %}

{% if site.footer-links.facebook %}
  <a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <img class="svg-icon facebook" src="../images/socials/facebook.svg" alt="Facebook">
  </a>
{% endif %}

{% if site.footer-links.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <img class="svg-icon linkedin" src="../images/socials/linkedin.svg" alt="Linkedin">
  </a>
{% endif %}

{% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}">
    <img class="svg-icon linkedin" src="../images/socials/linkedin.svg" alt="Linkedin">
  </a>
{% endif %}

{% if site.footer-links.codepen %}
  <a href="{{ site.footer-links.codepen }}">
    <img class="svg-icon codepen" src="../images/socials/codepen.svg" alt="Codepen">
  </a>
{% endif %}