
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$purple: #3C1A56;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$font-book: 'Roboto', sans-serif;
$font-heading: 'Vollkorn', serif;
$georgia: Georgia, serif;


// Modular scale
$ms-base: 1em;
$ms-ratio: $major-second;