// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: $gray;
}

.divider {
    padding-bottom: ms(8);
    margin-bottom: ms(8);
    border-bottom: 1px solid $lightGray;
}


/*----------  Buttons  ----------*/
@mixin proto-button($type, $button-base: 16px) {
  display: inline-table;
  min-width: em(205px, $button-base);
  margin-bottom: 1rem;
  padding: em(9px, $button-base) em(15px, $button-base);
  -webkit-appearance: none;
  // Style
  text-align: center;
  border: 0;
  font-size: em($button-base);
  font-weight: 300;
  cursor: pointer;
  color: white;
  border-radius: .5em;
  
  // Default
  @if(str-index($type, 'default')) {
    background-color: transparent;
    border: solid 1px $purple;
    color: $purple;
    transition-property: background-color, color;
    transition-duration: 100ms;
    transition-timing-function: $easeOutSine;

    &:hover {
      color: white;
      border-color: $lightPurple;
      background-color: $lightPurple;
    }
  }
}

.button-default {
  @include proto-button(default);
}
.button-primary {
  @include proto-button(primary);
}



/*----------  List  ----------*/
.skills-list {
  padding-left: 0;
  font-size: 0.9375em;

  > li {
    display: inline-block;
    margin-bottom: .5em;
    margin-right: .4em;
    padding: .4em 1em;
    // style
    background-color: $lighterGray;
    border: solid 1px $lightGray;
    border-radius: .2em;
    text-align: center;
    cursor: default;
    transition-property: background-color;
    transition-duration: 120ms;
    transition-timing-function: $easeOutSine;

    &:hover {
      background-color: darken($lighterGray, .8%);
    }
  }
}