// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

.date {
    font-style: italic;
    color: $gray;
}

.divider {
    padding-bottom: ms(8);
    margin-bottom: ms(8);
    border-bottom: 1px solid $lightGray;
}