<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700|Roboto:300i,400i,400,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />
  </head>
  
  <body>

    <div class="site">
      
      <!-- Header -->
      {% include header.html %}

      <main role="main" class="main container">
        {{ content }}
      </main>
    
      <div class="footer-push"></div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          
          <div class="footer__socials">
            {% include svg-icons.html %}
          </div>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <script href="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script src='https://unpkg.com/scrollama'></script>
    <script src="../scripts/main.js"></script>
  </body>
</html>
