/* Shell */
.site {
    min-height: 100%;
}

.main {
    margin-bottom: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: ms(33);
    padding: 0 ms(3);
    width: 100%;
}

/* Header */
.wrapper-masthead {
    margin-bottom: ms(8);
}

.masthead {
    padding: ms(7) 0 ms(5);
    border-bottom: 1px solid $lightGray;

    @include mobile {
        text-align: center;
    }
}

.site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: ms(0);

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }


    img {
        border-radius: 5px;
    }
}

.site-info {
    float: left;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.site-name {
    font-family: $font-book;
    margin-bottom: ms(-10);
    color: $darkGray;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
        color: $black;
    }
}

.site-description {
    margin: -5px 0 0 0;
    color: #525252;
    font-size: 1em;

    &__typing-heading {
        opacity: 1;
        transition: opacity .1s ease-out;

        &.removing {
            opacity: .5;
        }

        &:not(:last-child)::after {
            $spacing: .2em;
            content: '/';
            display: inline-block;
            margin: 0 calc(#{$spacing} - 2px) 0 $spacing;
        }
    }

    @include mobile {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 3px 0;
    }
}

/* Nav */
nav {
    float: right;
    margin-top: 23px;

    // @TODO: Vertically middle align
    font-size: 18px;

    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }

    .menu {
        list-style: none;

        > li {
            display: inline-block;

            &.active a {
                color: $lightPurple;
            }
        }
    }

    a {
        margin-left: 20px;
        color: $darkGray;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;

        @include mobile {
            margin: 0 10px;
            color: $blue;
        }
    }
    
}

//
// .main
//

.posts > .post {
    padding-bottom: ms(8);
    margin-bottom: ms(8);
    border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}

.post {
    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }

    .read-more {
        text-transform: uppercase;
        font-size: 15px;
    }
}

/* Footer */
$footer-height: 80px;

.footer-push {
    height: $footer-height;
}

.wrapper-footer {
    height: $footer-height;
    margin-top: -$footer-height;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGray;
}

.footer {
    @include clearfix;
    padding: 23px 0;
}

.footer__socials {
    float: right;
    clear: right;
}